mixin removeButton()
    button.lk-line__remove-button.js-remove(title="Удалить велосипед из заказа") 
        svg(viewBox="0 0 24 24")
            path(fill="currentColor" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z")

.accord-item__products
    .lk-line.lk-line_title
        .lk-item.lk-item_600 Велосипеды
        .lk-item.lk-item_200 Цена
        .lk-item.lk-item_200.lk-item_dney Кол-во дней
        .lk-item.lk-item_200.lk-item_itog Сумма
    .lk-line.lk-line_text
        +removeButton
        .lk-item.lk-item_600 
            | Городской велосипед Schwinn Traveler 20”
        .lk-item.lk-item_200.lk-item_cena 90
        .lk-item.lk-item_200.lk-item_dney 2
        .lk-item.lk-item_200.lk-item_itog 180 AED
    .lk-line.lk-line_text
        +removeButton
        .lk-item.lk-item_600 Городской велосипед Schwinn Traveler 20”
        .lk-item.lk-item_200.lk-item_cena 90
        .lk-item.lk-item_200.lk-item_dney 2
        .lk-item.lk-item_200.lk-item_itog 45 AED
    .lk-line.lk-line_text
        +removeButton
        .lk-item.lk-item_600 Городской велосипед Schwinn Traveler 20”
        .lk-item.lk-item_200.lk-item_cena 90
        .lk-item.lk-item_200.lk-item_dney 2
        .lk-item.lk-item_200.lk-item_itog 90 AED
    .accord-item__products-add
        .admin-search-result
            include ../include/filter
            .js-search-result
        .accord-action_button
            a.b-button.button_fill.button_big.button_normal.js-search-button Добавить велосипед
            a.b-button.button_fill.button_big.button_normal.js-search-close Сохранить
// edit area
.accord-item__action.accord-item__action_admin
    .accord-action
        .lk-line.lk-line_title
            .lk-item.lk-item_600 Информация об аренде
        .accord-action_item Тип аренды: 2 часа
        .accord-action_item Период аренды: 18.03.21 14:00 – 04.04.21 14:00
        .accord-action_item.parametrs-item
            .parametrs-item__title Тип оплаты
            .parametrs-item__select
                select.b-select.chosen-select(name='param__delivery')
                    option По адресу
                    option Самовывоз
        .accord-action_item.parametrs-item
            .parametrs-item__title Тип доставки
            .parametrs-item__select
                select.b-select.chosen-select(name='param__delivery')
                    option По адресу
                    option Самовывоз
        .accord-action_item.parametrs-item 
            .parametrs-item__title Адрес доставки
            .parametrs-item__select
                input.input(type="text" value=" Адрес доставки")
    .accord-action
        .lk-line.lk-line_title
            .lk-item.lk-item_600 Контакты пользователя
        .accord-action_item Иван К.
        .accord-action_item 8 999 999 99 99
        .accord-action_item example@gmail.com
    .accord-action
        .lk-line.lk-line_title
            .lk-item.lk-item_600 Комментарий (для администратора)
        .accord-action_item 
            input.input(type="text" value="комментарий")
    .accord-action.accord-action_button
        .button_action
            a.b-button.button_space.button_big.b-button_action(href='#') Отменить
        .button_action
            a.b-button.button_fill.button_big.b-button_action(href='admin.html') Сохранить

