.result-rbike
    .rbike
        .rbike-wrap
            .rbike-item
                .rbike-item__head
                    .rbike-item__rama 20”
                    .rbike-item__brand SCHWINN
                .rbike-item__img
                    img.rbike-img(src='img/rbike_1.png' alt='rbike_1')
                .rbike-item__descr Городской велосипед Schwinn Traveler 20”
                .price 90 AED/день
                a.rbike-item__link.b-button.button_space(href='#') выбрать
        .rbike-wrap
            .rbike-item
                .rbike-item__head
                    .rbike-item__rama 20”
                    .rbike-item__brand SCHWINN
                .rbike-item__img
                    img.rbike-img(src='img/rbike_1.png' alt='rbike_1')
                .rbike-item__descr Городской велосипед Schwinn Traveler 20”
                .price 180 AED/день
                a.rbike-item__link.b-button.button_space(href='#') выбрать
        .rbike-wrap
            .rbike-item
                .rbike-item__head
                    .rbike-item__rama 20”
                    .rbike-item__brand SCHWINN
                .rbike-item__img
                    img.rbike-img(src='img/rbike_1.png' alt='rbike_1')
                .rbike-item__descr Городской велосипед Schwinn Traveler 20”
                .price 90 AED/день
                a.rbike-item__link.b-button.button_space(href='#') выбрать
        .rbike-wrap
            .rbike-item
                .rbike-item__head
                    .rbike-item__rama 20”
                    .rbike-item__brand SCHWINN
                .rbike-item__img
                    img.rbike-img(src='img/rbike_1.png' alt='rbike_1')
                .rbike-item__descr Городской велосипед Schwinn Traveler 20”
                .price 90 AED/день
                a.rbike-item__link.b-button.button_space(href='#') выбрать
        .rbike-wrap
            .rbike-item
                .rbike-item__head
                    .rbike-item__rama 20”
                    .rbike-item__brand SCHWINN
                .rbike-item__img
                    img.rbike-img(src='img/rbike_1.png' alt='rbike_1')
                .rbike-item__descr Городской велосипед Schwinn Traveler 20”
                .price 90 AED/день
                a.rbike-item__link.b-button.button_space(href='#') выбрать
