header.b-head
	.b-container.b-head__wrap
		.b-head__logo
			a.b-logo(href='')
				img.b-logo__img(src='img/logo.svg' alt='logo')
		.b-head__menu
			.b-menu.b-menu_top
				a.b-link.b-link_menu.b-link_active(href='#') О нас
				a.b-link.b-link_menu(href='#') Аренда
				a.b-link.b-link_menu(href='#') Доставка
				a.b-link.b-link_menu(href='#') Где кататься
				a.b-link.b-link_menu(href='#') Контакты
			.b-cont
				.b-user
					.b-user__ico
						svg.b-user__img(width='22' height='22' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg')
							circle(cx='11' cy='4.75' r='3.75' stroke-width='2')
							path(d='M1.25 19.6875C1.25 15.718 4.46795 12.5 8.4375 12.5H13.5625C17.532 12.5 20.75 15.718 20.75 19.6875V19.6875C20.75 19.8601 20.6101 20 20.4375 20H1.5625C1.38991 20 1.25 19.8601 1.25 19.6875V19.6875Z' stroke-width='2')
					.b-user__down
						a.user-link.user-lk(name='modal' href='#popup-lk')
							span.user-link__text Личный кабинет
						a.user-link.user-exit(href='#')
							span.user-link__text Выйти
				a.b-button.button_fill.b-button_callback(href='#popup-callback' name='modal') Обратная связь
		.b-head__right
			.b-time
				#b-time.b-time__text 12:00
			.mobile-menu
				.mobile-menu__icon
