extends template/template
block content
	section
		.b-container
			.sect-gray.about-info
				h1.other-page О нас
				.block-col
					.col6-item
						p Товарищи! постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
						p Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании
					.col6-item
						img.radius(src='img/demo_col6_2.jpg')
	section
		.b-container
			.sect-gray.about-review
				.subtitle Отзывы
				.about-slide.slide-wrap
					.slide-item
						.slide-item__text Безусловно, семантический разбор внешних противодействий способствует повышению качества вывода текущих активов.противодействий способствует повышению качества вывода текущих активов.
						.slide-item__quote
							i
							| Александр Н.
					.slide-item
						.slide-item__text Безусловно, семантический разбор внешних противодействий способствует повышению качества вывода текущих активов. противодействий способствует повышению качества вывода текущих активов противодействий способствует повышению качества
						.slide-item__quote
							i
							| Александр Н.
					.slide-item
						.slide-item__text Безусловно, семантический разбор внешних противодействий способствует повышению качества вывода текущих активов. противодействий способствует повышению качества вывода текущих активов противодействий способствует повышению качества
						.slide-item__quote
							i
							| Александр Н.
					.slide-item
						.slide-item__text Безусловно, семантический разбор внешних противодействий способствует повышению качества вывода текущих активов.противодействий способствует повышению качества вывода текущих активов.
						.slide-item__quote
							i
							| Александр Н.
					.slide-item
						.slide-item__text Безусловно, семантический разбор внешних противодействий способствует повышению качества вывода текущих активов. противодействий способствует повышению качества вывода текущих активов противодействий способствует повышению качества
						.slide-item__quote
							i
							| Александр Н.
