extends template/template
block content
	section
		.b-container
			.sect-gray
				h1.other-page Всплывающие
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-callback' name='modal') Обратная связь
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-freedate' name='modal') Свободные даты
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-cancel' name='modal') Отмена заказа
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-canceled' name='modal') Заказ отменен
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-lk' name='modal') Вход
				.prodlen-link
					a.b-button.button_fill.button_big.b-button_prodlen(href='#popup-submit' name='modal') Результат формы

