extends template/template
block content
    - const errorPage = true
        .error-page
            .error-page__title 404
            .error-page__desc The page does not exist or has not created yet
            a.b-button.button_fill.button_big.button_normal.error-page__button(href=".") Back to main page
