extends template/template
block content
	section
		.b-container
			.sect-gray
				h1.other-page Содержание
				ul.pager-menu
					li.arend-menu__li
						a.b-link(href='main.html') Главная - ничего не выбрано
					li.arend-menu__li
						a.b-link(href='main2.html') Главная - результаты поиска
					li.arend-menu__li
						a.b-link(href='checkout.html') Оформление заказа
					li.arend-menu__li
						a.b-link(href='order_done.html') Оформленный заказ
					li.arend-menu__li
						a.b-link(href='pravila.html') Правила
					li.arend-menu__li
						a.b-link(href='katatsya.html') Где кататься
					li.arend-menu__li
						a.b-link(href='contact.html') Контакты
					li.arend-menu__li
						a.b-link(href='about.html') О нас
					li.arend-menu__li
						a.b-link(href='bike1.html') Текущие заказы
					li.arend-menu__li
						a.b-link(href='bike2.html') История заказов
					li.arend-menu__li
						a.b-link(href='bike3.html') Личные данные - просмотр
					li.arend-menu__li
						a.b-link(href='bike4.html') Личные данные - редактирование
					li.arend-menu__li
						a.b-link(href='prodlenie1.html') Продление аренды1
					li.arend-menu__li
						a.b-link(href='prodlenie2.html') Продление аренды2
					li.arend-menu__li
						a.b-link(href='popup.html') Всплывающие
					li.arend-menu__li
						a.b-link(href='admin.html') Список заказов - админка
					li.arend-menu__li
						a.b-link(href='admin_edit.html') Редактирование заказа - админка
					li.arend-menu__li
						a.b-link(href='404.html') 404

