extends template/template
block content
	section
		.b-container
			.sect-gray.pravila-page
				h1.other-page Правила
				h2 Условия аренды
				.block-col
					.col4-item
						.sub-text Срок аренды
						p Минимальный срок аренды велосипеда составляет 1 день. При брони от 5 дней действует скидка 10%
					.col4-item
						.sub-text Срок аренды
						p Минимальный срок аренды велосипеда составляет 1 день. При брони от 5 дней действует скидка 10%
					.col4-item
						.sub-text Срок аренды
						p Минимальный срок аренды велосипеда составляет 1 день. При брони от 5 дней действует скидка 10%
				h2.pravila-title Возмещение ущерба
				.two-thirds
					p Товарищи! постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке направлений прогрессивного развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.
					p Таким образом дальнейшее развитие различных форм деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач.

