extends template/template
block content
	section
		.b-container
			.sect-gray
				h1.other-page Продление аренды
				.filter-parametr.filter_prodlen
					.parametrs.parametr_prodlen
						.parametrs-item.parametrs-item_50
							.parametrs-item__title Продлить аренду на:
							.parametrs-item__select
								select.b-select.chosen-select(name='param__delivery')
									option 2 часа
									option 4 часа
									option 6 часов
						.parametrs-item.parametrs-item_50
							.parametrs-item__title Сдать в:
							.parametrs-item__input
								input.input(readonly disabled type='text' value='19:00')
						.parametrs-item.parametrs-item_100
							.sub-info__text Форма оплаты
							.form-line.form-line_radio
								.form-radio.form-radio_margbot.form-radio_checkout
									input.radio#radio1(type='radio' checked name='radio')
									label.label-radio.label-radio_checkout(for='radio1')
										span.radiokrug
											svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
												circle(cx='16' cy='16' r='15.5' stroke='#DDE3EB')
												circle(cx='15.9999' cy='15.9997' r='10.6667' fill='currentcolor')
										| Онлайн

								.form-radio.form-radio_checkout
									input.radio#radio2(type='radio' name='radio')
									label.label-radio.label-radio_checkout(for='radio2')
										span.radiokrug
											svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
												circle(cx='16' cy='16' r='15.5' stroke='#DDE3EB')
												circle(cx='15.9999' cy='15.9997' r='10.6667' fill='currentcolor')
										| На месте

										.radio-question
											a.question.but-qvad(href='#' tabindex='0')
											.hint.hint_radio Легкие, надежные и легко управляются. Возможны вибрации из-за неровностей дороги.
						.parametrs-item.parametrs-item_50
							.parametrs-item__title Сумма доплаты
							.price 45 AED
						.parametrs-item.parametrs-item_50.
							
							
						.parametrs-item.parametrs-item_50.prodlen-link
							a.b-button.button_gray.button_big.b-button_prodlen Продлить

