.result-parametr
    .parametrs
        .parametrs-item
            .parametrs-item__title Тип велосипеда
            .parametrs-item__select
                select.b-select.chosen-select(name='param__type')
                    option Все
                    option Алюминий
                    option Карбон
                    option Горный/городской
                    option Городской эконом

        .parametrs-item
            .parametrs-item__title Бренд
            .parametrs-item__select
                select.b-select.chosen-select(name='param__brand')
                    option Все
                    option Бренд
        .parametrs-item
            .parametrs-item__title Размер рамы
            .parametrs-item__select
                select.b-select.chosen-select(name='param__rama')
                    option Все
                    option Рама